<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>All Events</title>
    </head>
    <body class="bg-slate-900">
        <h1 class="px-10 py-4 mx-auto my-4 font-mono text-3xl font-extrabold text-center text-green-500 rounded-md sm:text-4xl md:text-5xl bg-green-950 w-fit">All Events</h1>
        {% if messages %}
            {% for message in messages %}
                <h4 class="my-8 text-white font-semibold text-lg px-6 py-2 w-fit mx-auto rounded-lg {% if message.tags == 'success' %}bg-green-700{% endif %} {% if message.tags == 'error' %}bg-red-700{% endif %}">{{ message }}</h4>
            {% endfor %}
        {% endif %}
        <div class="mx-6 my-8 space-y-4 text-xl sm:mx-24 lg:mx-40 text-slate-200">
            {% comment %} <form action="{% url 'view-event' %}?search=search" method="GET" class="flex justify-center">
                <input type="text" placeholder="Search Event by Name or Location" class="w-64 px-4 py-1 border rounded-l-lg bg-slate-800 border-slate-500 focus:outline-none focus:border-green-700 md:w-96" name="search">
                <button type="submit" class="px-4 py-1 font-semibold bg-green-700 rounded-r-lg">Search</button>
            </form>
            <div class="flex justify-center gap-4">
                <form action="{% url 'view-event' %}?category=category" method="GET" class="flex items-center">
                    <label for="categ_sel" class="mr-3 text-xl font-semibold">Category:</label>
                    <select name="category" id="categ_sel" class="w-full px-2 py-1 border rounded-l-lg bg-slate-800 border-slate-500 focus:outline-none focus:border-green-700 md:w-60">
                        {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="h-full px-4 py-1 font-semibold bg-green-700 rounded-r-lg">Search</button>
                </form>
            </div> {% endcomment %}
            <form action="{% url 'view-event' %}?search=search&category=category&start_date=start_date&end_date=end_date" method="GET" class="flex flex-col items-center justify-center md:flex-row">
                <input type="text" placeholder="Name or Location" class="w-3/4 h-full px-4 py-2 border rounded-l-lg rounded-r-lg bg-slate-800 md:rounded-r-none border-slate-500 focus:outline-none focus:border-green-700 lg:w-60" name="search"><br>
                <select name="category" id="categ_sel" class="w-3/4 h-full p-2 border rounded-l-lg rounded-r-lg md:rounded-l-none bg-slate-800 border-slate-500 focus:outline-none focus:border-green-700 lg:w-60">
                    <option value="all">All Categories</option>
                    {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <div class="flex ml-4">
                    <input type="date" name="start_date" class="w-1/2 h-full p-2 border rounded-l-lg lg:w-40 bg-slate-800 border-slate-500 focus:outline-none focus:border-green-700" value="2025-01-01">
                    <input type="date" name="end_date" class="w-1/2 h-full p-2 border rounded-r-lg lg:w-40 bg-slate-800 border-slate-500 focus:outline-none focus:border-green-700" value="2034-12-31">
                </div>
                <button type="submit" class="w-1/2 h-full px-8 py-2 mt-6 ml-4 font-semibold bg-green-700 rounded-lg lg:mt-0 lg:w-auto">Search</button>
            </form>
        </div>
        <div class="grid grid-cols-1 gap-6 mx-6 my-12 sm:mx-16 lg:mx-24 lg:grid-cols-2">
            {% for event in events %}
                <div class="p-8 space-y-6 rounded-xl bg-slate-800 text-slate-200">
                    <h3 class="text-3xl font-bold text-green-100">{{ event.name }}</h3>
                    <p class="text-xl"><span class="mr-2 font-medium">Due Date:</span> {{ event.date }}</p>
                    <p class="text-xl"><span class="mr-2 font-medium">Due Location:</span> {{ event.location }}</p>
                    <h5 class="text-xl font-semibold">Category: <span class="px-3 py-1 ml-2 font-medium rounded-md bg-slate-300 text-slate-800">{{ event.category.name }}</span></h5>
                    <h5 class="text-xl font-semibold">Participants: <span class="px-3 ml-2 font-medium rounded-md bg-slate-300 text-slate-800">{{ event.partice_count }}</span></h5>
                    <div class="flex flex-col justify-between gap-4 sm:flex-row md:gap-0">
                        <button type="button" class="px-4 py-1 text-xl font-semibold bg-green-600 rounded-md hover:bg-green-800"><a href="{% url "event-details" event.id %}" target="_blank">More Information</a></button>
                        <div class="flex justify-between gap-4 md:justify-end">
                            <button type="button" class="px-5 py-1 text-xl font-semibold bg-blue-800 rounded-md hover:bg-blue-900 text-slate-100"><a href="{% url 'update-event' event.id %}">Edit</a></button>
                            <form action="{% url 'delete-event' event.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="px-5 py-1 text-xl font-semibold rounded-md bg-rose-800 hover:bg-rose-900 text-slate-100">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>